nav{
 text-align: center;
 background-color: transparent;
 position: sticky;
 z-index: 100;
 background-color: rgba(0, 0, 0, 0.5);
 ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   li{
    margin: 5px;
    a{
     text-decoration: none;
     font-size: 20px;
     color: aliceblue;
     font-size: 20px;
    }
   }
 }

 
}

@container (min-width: 400px){
 nav{
  background-color: red;
 }
}