
nav{
 text-align: center;
 background-color: transparent;
 position: sticky;
 z-index: 100;
 ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   li{
    margin: 5px;
    a{
     text-decoration: none;
     font-size: 20px;
     color: aliceblue;
     font-size: 20px;
     padding: 20px;
    }
   }
   
 }

button{
  padding: .5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  .nav-line{
  height: 3px;
  width: 30px;
  background-color: aliceblue;
 }
}
 
}
#show-menu{
  width:40px;
  height: 40px;
}
.show-nav{
  display: flex;
}
.hide-nav{
  display: none;
}
@media screen and (min-width: 650px){
 nav{
  ul{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
 }
}

@media screen and (min-width: 750px){
 nav{
  ul{
    gap: 20px;
  }
 }
}