nav{
 font-size: 40px;
 text-align: center;
 background-color: transparent;
 position: sticky;
 z-index: 100;

 ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   li{
    a{
     text-decoration: none;
     font-size: 20px;
     color: aliceblue;
    }
   }
 }
}